<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>adminDashboard</title>
    <link
            rel="stylesheet"
            type="text/css"
            href="/adminDashboardAssets/bootstrap/css/bootstrap.min.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="/adminDashboardAssets/css/bs-theme-overrides.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="/adminDashboardAssets/css/animate.min.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="/adminDashboardAssets/css/Lightbox-Gallery-No-Gutters-baguetteBox.min.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="/adminDashboardAssets/css/Navbar-Right-Links-Dark-icons.css"
    />
</head>

<body
        style="
			width: 100%;
			filter: brightness(100%);
			text-align: center;
			height: 100%;
		"
>
<nav
        class="navbar navbar-expand-md py-3"
        style="
				--bs-body-bg: rgb(109, 24, 106);
				background: var(--bs-white);
				border-bottom-color: var(--bs-danger-border-subtle);
				box-shadow: 8px -6px 20px, 0px 0px 12px var(--bs-border-color);
				width: 100%;
			"
>
    <div class="container">
        <a
                class="navbar-brand d-flex align-items-center"
                href="#"
                style="color: var(--bs-success-text-emphasis)"
        ><span
                    class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"
            ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                        class="bi bi-bezier"
                        data-bss-hover-animate="jello"
                >
							<path
                                    fill-rule="evenodd"
                                    d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"
                            ></path>
							<path
                                    d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"
                            ></path></svg></span
            ><span
                    data-bss-hover-animate="pulse"
                    style="font-size: 20px; text-align: center"
            >IUT Traffic Record Management System</span
            ></a
        >
        <button
                data-bs-toggle="collapse"
                class="navbar-toggler"
                data-bs-target="#navcol-2"
        >
					<span class="visually-hidden">Toggle navigation</span
                    ><span class="navbar-toggler-icon"></span>
        </button>
        <div
                class="collapse navbar-collapse"
                id="navcol-2"
                style="margin-right: -77px"
        >
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a
                            class="nav-link active"
                            data-bss-hover-animate="pulse"
                            id="view_logs"
                            href="/admin/view-vehicle-logs"
                            style="
									padding-left: 52px;
									--bs-body-font-size: -14rem;
									font-size: 20px;
									text-shadow: 0px 0px 1px;
									color: var(--bs-emphasis-color);
								"
                    ><span style="color: rgb(10, 54, 34)"
                        >View Logs</span
                        ></a
                    >
                </li>
                <li class="nav-item">
                    <a
                            class="nav-link"
                            data-bss-hover-animate="pulse"
                            id="pending_request"
                            href="#"
                            style="
									padding-left: 52px;
									--bs-body-font-size: -14rem;
									font-size: 20px;
									text-shadow: 0px 0px 1px;
									color: var(--bs-emphasis-color);
								"
                    ><span style="color: rgb(10, 54, 34)"
                        >Pending Request</span
                        ></a
                    >
                </li>
                <li class="nav-item">
                    <a
                            class="nav-link"
                            data-bss-hover-animate="pulse"
                            id="logout"
                            href="/logout"
                            style="
									padding-left: 52px;
									--bs-body-font-size: -14rem;
									font-size: 20px;
									text-shadow: 0px 0px 1px;
									color: var(--bs-emphasis-color);
								"
                    ><span style="color: rgb(10, 54, 34)"
                        >Logout</span
                        ></a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>
<% if (error.length > 0) { %>
    <div class="alert alert-danger" role="alert" style="margin-top: 2%;margin-left: 25%;margin-right: 25%;width: 50%;">
        <strong><%= error; %></strong>
    </div>
<% } if (success.length > 0) { %>
    <div class="alert alert-success" role="alert" style="margin-top: 2%;margin-left: 25%;margin-right: 25%;width: 50%;">
        <strong><%= success; %></strong>
    </div>
<% } %>
<form action="/admin/dashboard" method="POST">
    <div
            class="flex-column justify-content-between align-items-center"
            style="
					background: var(--bs-btn-hover-color);
					width: 50%;
					margin-left: 25%;
					margin-right: 25%;
					margin-top: 5%;
					border-radius: 25px;
					box-shadow: 0px 0px 6px;
					height: 302.688px;
				"
    >
        <div
                style="
						width: 90%;
						background: var(--bs-body-bg);
						height: 40%;
						margin-right: 5%;
						margin-left: 5%;
					"
        >
            <div
                    class="input-group"
                    style="
							margin-left: 10%;
							margin-top: 5%;
							width: 80%;
							height: 44px;
							margin-right: 10%;
						"
            >
                <input
                        class="form-control"
                        type="file"
                        id="image"
                        style="
								background: var(--bs-body-bg);
								margin-right: 12px;
								padding-right: 0px;
								border-radius: 7px;
								border-width: 0.5px;
								border-color: var(--bs-emphasis-color);
							"
                        name="image"
                />
                <input
                        class="btn btn-primary"
                        id="upload_image"
                        type="button"
                        style="
								background: var(--bs-danger-border-subtle);
								color: var(--bs-primary-text-emphasis);
								border-radius: 7px;
							"
                        name="uploadImage"
                        value="Upload image"
                        onclick="extractLPText()"
                />
            </div>
        </div>
        <span style="font-size: 27px; margin-top: -22px">or</span>
        <div
                class="flex-column justify-content-center"
                style="
						background: var(--bs-body-bg);
						width: 90%;
						height: 54%;
						margin-right: 5%;
						margin-left: 5%;
						margin-bottom: initial;
						border-color: var(--bs-primary-bg-subtle);
					"
        >
            <input
                    class="form-control"
                    type="text"
                    id="license-number"
                    style="
							width: 80%;
							height: 40px;
							margin-left: 10%;
							border-radius: 7px;
							margin-top: -25px;
							border-width: 1px;
							border-color: var(--bs-emphasis-color);
						"
                    placeholder="Enter The License Number"
                    name="licenseNumber"
            /><input
                    class="btn btn-primary"
                    type="submit"
                    value="submit"
                    id="submit-vehicle"
                    style="width: initial; margin-left: 45%; margin-top: 2%"
                    name="submitVehicle"
            />
        </div>
    </div>
</form>
<input
        type="search"
        style="width: 25%; margin-top: 5%; height: 35px"
        placeholder="License Number or Owner ID"
/>
<div
        class="table-responsive fw-semibold text-start"
        style="
				margin-top: 2%;
				width: 90%;
				margin-right: 10%;
				margin-left: 5%;
				margin-bottom: 5%;
				box-shadow: 0px 0px 9px;
				border-radius: 12px;
				height: 90%;
				background: var(--bs-btn-hover-color);
			"
>
    <table class="table">
        <thead style="width: 80%; padding: 0px">
        <tr style="width: 80%; height: 57.5px">
            <th
                    style="
								box-shadow: 0px 0px 5px 0px;
								border-style: solid;
								width: 20%;
							"
            >
                License Number
            </th>
            <th
                    style="
								box-shadow: 0px 0px 5px 0px;
								border-style: solid;
								width: 15%;
							"
            >
                Entry Time
            </th>
            <th
                    style="
								box-shadow: 0px 0px 5px 0px;
								border-style: solid;
								width: 15%;
							"
            >
                User ID
            </th>
            <th
                    style="
								box-shadow: 0px 0px 5px 0px;
								border-style: solid;
								width: 15%;
							"
            >
                Contact Number
            </th>
            <th style="box-shadow: 0px 0px 5px 0px; width: 20%">
                Comment
            </th>
            <th style="box-shadow: 0px 0px 5px; width: 15%">
                Extend Time
            </th>
        </tr>
        </thead>
        <tbody style="width: 80%; height: 90%">
        <% vehicleLogs.forEach(function(log) { %> <%
            console.log(log); %>
        <tr
                style="
							margin-right: 19px;
							margin-top: 0px;
							margin-left: -2px;
						"
        >
            <td style="box-shadow: 0px 0px 5px 0px">
                <a href="/admin/view-vehicle-details/<%= log.licenseNumber; %>"
                   style="color: var(--bs-danger-text-emphasis)"
                >
                    <%= log.licenseNumber; %>
                </a>
            </td>
            <td style="box-shadow: 0px 0px 5px 0px">
                <%= log.entryTime; %>
            </td>
            <td style="box-shadow: 0px 0px 5px 0px">
                <a href="/admin/view-user-details/<%= log.userId; %>"
                   style="color: var(--bs-danger-text-emphasis)"
                >
                    <%= log.userId; %>
                </a>
            </td>
            <td style="box-shadow: 0px 0px 5px 0px">
                <%= log.phoneNumber; %>
            </td>
            <td style="box-shadow: 0px 0px 5px 0px">
                <form
                        class="flex-column"
                        action="/admin/add-comment"
                        method="POST"
                >
                    <input
                            type="hidden"
                            name="logId"
                            value="<%= log.id; %>"
                    />
                    <div>
                        <input
                                class="form-control"
                                type="text"
                                id="comment"
                                style="width: 60%"
                                name="comment"
                                value="<%= log.comment; %>"
                        /><input
                                class="btn btn-primary"
                                type="submit"
                                value="submit"
                                id="submit-comment"
                                style="margin-left: 2%"
                                name="submitComment"
                        />
                    </div>
                </form>
            </td>
            <td style="box-shadow: 0px 0px 5px">
                <form class="flex-column">
                    <div>
                        <input
                                class="form-control"
                                type="number"
                                id="extend-time"
                                name="extendTime"
                        /><input
                                class="btn btn-primary"
                                type="submit"
                                id="submit-time"
                                style="margin-left: 2%; width: initial"
                                name="submitTime"
                        />
                    </div>
                </form>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>

<script>
	// Get the search field and the table
	const searchField = document.querySelector('input[type="search"]');
	const table = document.querySelector("table");

	// Listen for the input event on the search field
	searchField.addEventListener("input", function () {
		// Get the input value
		const inputValue = this.value.trim().toLowerCase();

		// Loop over the table rows
		for (const row of table.rows) {
			// Get the text of the first cell in the row
			const licenseNumber = row.cells[0].textContent
				.trim()
				.toLowerCase();
			const ownerId = row.cells[2].textContent
				.trim()
				.toLowerCase(); // Assuming owner ID is in the 3rd column

			// If the input value matches the license number or owner ID, show the row, otherwise hide it
			if (
				licenseNumber.includes(inputValue) ||
				ownerId.includes(inputValue)
			) {
				row.style.display = "";
			} else {
				row.style.display = "none";
			}
		}
	});
</script>

<script src="/adminDashboardAssets/bootstrap/js/bootstrap.min.js"></script>
<script src="/adminDashboardAssets/js/bs-init.js"></script>
<script src="/adminDashboardAssets/js/Lightbox-Gallery-No-Gutters-baguetteBox.min.js"></script>
<script src="/adminDashboardAssets/js/Lightbox-Gallery-No-Gutters-Lightbox-Gallery.js"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/extract-lptext.js"></script>
</body>
</html>
