<!DOCTYPE html>
<html data-bs-theme="light" lang="en" style="height: 100%; width: 100%">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>viewLogsAdmin</title>
    <link
            rel="stylesheet"
            href="/adminViewLogsAssets/bootstrap/css/bootstrap.min.css"
    />
    <link
            rel="stylesheet"
            href="/adminViewLogsAssets/css/bs-theme-overrides.css"
    />
    <link
            rel="stylesheet"
            href="/adminViewLogsAssets/css/animate.min.css"
    />
    <link
            rel="stylesheet"
            href="/adminViewLogsAssets/css/Lightbox-Gallery-No-Gutters-baguetteBox.min.css"
    />
    <link
            rel="stylesheet"
            href="/adminViewLogsAssets/css/Navbar-Right-Links-Dark-icons.css"
    />
</head>

<body
        style="
			width: 100%;
			filter: brightness(100%);
			text-align: center;
			height: 100%;
		"
>
<nav
        class="navbar navbar-expand-md py-3"
        style="
				--bs-body-bg: rgb(109, 24, 106);
				background: var(--bs-white);
				border-bottom-color: var(--bs-danger-border-subtle);
				box-shadow: 8px -6px 20px, 0px 0px 12px var(--bs-border-color);
				width: 100%;
			"
>
    <div class="container">
        <a
                class="navbar-brand d-flex align-items-center"
                href="/admin/dashboard"
                style="color: var(--bs-success-text-emphasis)"
        ><span
                    class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"
            ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                        class="bi bi-bezier"
                        data-bss-hover-animate="jello"
                >
							<path
                                    fill-rule="evenodd"
                                    d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"
                            ></path>
							<path
                                    d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"
                            ></path></svg></span
            ><span
                    data-bss-hover-animate="pulse"
                    style="font-size: 20px; text-align: center"
            >IUT Traffic Record Management System</span
            ></a
        >
        <button
                data-bs-toggle="collapse"
                class="navbar-toggler"
                data-bs-target="#navcol-2"
        >
					<span class="visually-hidden">Toggle navigation</span
                    ><span class="navbar-toggler-icon"></span>
        </button>
        <div
                class="collapse navbar-collapse"
                id="navcol-2"
                style="margin-right: -77px"
        >
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a
                            class="nav-link active"
                            data-bss-hover-animate="pulse"
                            id="view_logs"
                            href="/admin/dashboard"
                            style="
									padding-left: 52px;
									--bs-body-font-size: -14rem;
									font-size: 20px;
									text-shadow: 0px 0px 1px;
									color: var(--bs-emphasis-color);
								"
                    ><span style="color: rgb(10, 54, 34)"
                        >Dashboard</span
                        ></a
                    >
                </li>
				<% if (appUser.designation === "SCO") { %>
                    <li class="nav-item">
                        <a
                                class="nav-link"
                                data-bss-hover-animate="pulse"
                                id="pending_request"
                                href="/admin/get-approval"
                                style="
									padding-left: 52px;
									--bs-body-font-size: -14rem;
									font-size: 20px;
									text-shadow: 0px 0px 1px;
									color: var(--bs-emphasis-color);
								"
                        ><span style="color: rgb(10, 54, 34)"
                            >Pending Request</span
                            ></a
                        >
                    </li>
					<% } %>
                <li class="nav-item">
                    <a
                            class="nav-link"
                            data-bss-hover-animate="pulse"
                            id="logout"
                            href="/logout"
                            style="
									padding-left: 52px;
									--bs-body-font-size: -14rem;
									font-size: 20px;
									text-shadow: 0px 0px 1px;
									color: var(--bs-emphasis-color);
								"
                    ><span style="color: rgb(10, 54, 34)"
                        >Logout</span
                        ></a
                    >
                </li>
                <li class="nav-item">
                    <a
                            class="nav-link"
                            data-bss-hover-animate="pulse"
                            id="logout"
                            href="#"
                            style="
									padding-left: 52px;
									--bs-body-font-size: -14rem;
									font-size: 20px;
									text-shadow: 0px 0px 1px;
									color: var(--bs-emphasis-color);
								"
                    ><span style="color: rgb(10, 54, 34)"
                        ><%= appUser.name; %>(<%= appUser.designation %>)</span
                        ></a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>

<input
        type="search"
        style="width: 35%; margin-top: 2%; height: 35px"
        placeholder="License Number or Owner ID"
/>
<div
        class="input-group"
        style="width: 35%; margin-left: 32.5%; margin-top: 1%"
>
			<span class="input-group-text">Entry Time</span
            ><input
            class="form-control"
            id="time_from"
            type="datetime-local"
            name="time_from"
    /><input
            class="form-control"
            id="time_to"
            type="datetime-local"
            name="time_to"
    />
</div>
<div
        class="table-responsive fw-semibold text-start"
        style="
				margin-top: 2%;
				width: 90%;
				margin-right: 10%;
				margin-left: 5%;
				box-shadow: 0px 0px 9px;
				border-radius: 12px;
				height: 60%;
				background: var(--bs-btn-hover-color);
			"
>

    <table hidden>
        <tbody>
        <% for (const log of vehicleLogs) { %>
            <tr>
                <td><%= log.licenseNumber %></td>
                <td><%= log.entryTime %></td>
                <td><%= log.exitTime %></td>
                <td><%= log.phoneNumber %></td>
                <td><%= log.userId %></td>
                <td><%= log.comment %></td>
                <td><%= Math.floor(log.lateDuration) %></td>
            </tr>
        <% } %>
        </tbody>
    </table>

    <table class="table"></table>
</div>
<script src="/adminViewLogsAssets/bootstrap/js/bootstrap.min.js"></script>
<script src="/adminViewLogsAssets/js/bs-init.js"></script>
<script src="/adminViewLogsAssets/js/Lightbox-Gallery-No-Gutters-baguetteBox.min.js"></script>
<script src="/adminViewLogsAssets/js/Lightbox-Gallery-No-Gutters-Lightbox-Gallery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
<script>
	let fuse;
	const vehicleLogs = [];

	document.addEventListener("DOMContentLoaded", () => {
		const table = document.querySelector("table[hidden]");
		for (const row of table.rows) {
			const cell = row.cells;
			vehicleLogs.push({
				licenseNumber: cell[0].innerText,
				entryTime: extractDateTime(cell[1].innerText),
				exitTime: cell[2].innerText,
				phoneNumber: cell[3].innerText,
				userId: parseInt(cell[4].innerText),
				comment: cell[5].innerText,
				lateDuration: parseInt(cell[6].innerText),
			});
		}

		fuse = new Fuse(vehicleLogs, {
			keys: ["licenseNumber", "userId"],
		});
		console.log(vehicleLogs);
		showResults(vehicleLogs);
	});

	document.querySelector("input[type=search]").addEventListener("input", e => {
		const fromText = document.querySelector("#time_from").value.length > 0 ? document.querySelector("#time_from").value : "1970-01-01T00:00";
		const toText = document.querySelector("#time_to").value.length > 0 ? document.querySelector("#time_to").value : "2100-01-01T00:00";
		const timeFrom = new Date(fromText);
		const timeTo = new Date(toText);

		let logs = search(e.target.value);
		logs = logs.filter(({entryTime}) => entryTime >= timeFrom && entryTime <= timeTo);

		showResults(logs);
	});

	document.querySelector("#time_from").addEventListener("input", (e) => {
		const fromText = e.target.value.length > 0 ? e.target.value : "1970-01-01T00:00";
		const toText = document.querySelector("#time_to").value.length > 0 ? document.querySelector("#time_to").value : "2100-01-01T00:00";
		const timeFrom = new Date(fromText);
		const timeTo = new Date(toText);

		let logs = search(document.querySelector("input[type=search]").value);

		logs = logs.filter(({entryTime}) => entryTime >= timeFrom && entryTime <= timeTo);
		showResults(logs);
	});

	document.querySelector("#time_to").addEventListener("input", (e) => {
		const toText = e.target.value.length > 0 ? e.target.value : "2100-01-01T00:00";
		const fromText = document.querySelector("#time_from").value.length > 0 ? document.querySelector("#time_from").value : "1970-01-01T00:00";
		const timeFrom = new Date(fromText);
		const timeTo = new Date(toText);

		let logs = search(document.querySelector("input[type=search]").value);

		logs = logs.filter(({entryTime}) => entryTime >= timeFrom && entryTime <= timeTo);
		showResults(logs);
	});

	/**
	 * Extract date and time from a date time string
	 * @param dateTime - Format: DD/MM/YYYY, HH:MM:SS
	 * @returns Date
	 */
	function extractDateTime(dateTime) {
		const [date, month, year, time] = dateTime.split(/[\/,]/);
		const [hour, minute, second] = time.split(/:/);
		return new Date(year, month - 1, date, hour, minute, second);
	}

	function search(text) {
		if (text.length > 0) {
			const results = fuse.search(text);
			return results.map((result) => result.item);
		}
		return vehicleLogs;
	}

	function showResults(logs) {
		const table = document.querySelector("table[class=table]");
		table.innerHTML = `<thead style="width: 80%; padding: 0px">
        <tr style="width: 80%; height: 57.5px">
            <th
                    style="
								box-shadow: 0px 0px 5px 0px;
								border-style: solid;
								width: 20%;
							"
            >
                License number
            </th>
            <th
                    style="
								box-shadow: 0px 0px 5px 0px;
								border-style: solid;
								width: 15%;
							"
            >
                Entry time
            </th>
            <th
                    style="
								box-shadow: 0px 0px 5px 0px;
								border-style: solid;
								width: 15%;
							"
            >
                Exit time
            </th>
            <th
                    style="
								box-shadow: 0px 0px 5px 0px;
								border-style: solid;
								width: 12%;
							"
            >
                Contact number
            </th>
            <th style="box-shadow: 0px 0px 5px 0px; width: 10%">
                Owner ID
            </th>
            <th style="box-shadow: 0px 0px 5px 0px; width: 15%">
                Comment
            </th>
            <th style="box-shadow: 0px 0px 5px 0px; width: 10%">
                Late Duration (mnt)
            </th>
        </tr>
        </thead>
		<tbody style="width: 90%; height: initial">`;

		for (const log of logs) {
			table.innerHTML += `<tr
                style="
							margin-right: 19px;
							margin-top: 0px;
							margin-left: -2px;
						"
        >
            <td style="box-shadow: 0px 0px 5px 0px; width: 20%">
                <a
                        href="/admin/view-vehicle-details/${log.licenseNumber}"
                        style="color: var(--bs-danger-text-emphasis)"
                >${log.licenseNumber}</a
                >
            </td>
            <td style="box-shadow: 0px 0px 5px 0px; width: 15%">
                ${extractStringFromDateTime(log.entryTime)}
            </td>
            <td style="box-shadow: 0px 0px 5px 0px; width: 15%">
                ${log.exitTime}
            </td>
            <td style="box-shadow: 0px 0px 5px 0px; width: 12%">
                ${log.phoneNumber}
            </td>
            <td style="box-shadow: 0px 0px 5px 0px; width: 10%">
                <a
                        href="/admin/view-user-details/${log.userId}"
                        style="color: var(--bs-danger-text-emphasis)"
                >${log.userId}</a
                >
            </td>
            <td
                    style="box-shadow: 0px 0px 5px 0px; width: 15%">
                ${log.comment}
            </td>
            <td
                    style="box-shadow: 0px 0px 5px 0px; width: 10%">
                ${Math.floor(log.lateDuration)}
            </td>
        </tr>`;
		}

		table.innerHTML += "</tbody>";
	}

	/**
	 * Extract string from date object
	 * @param dateTime - Date object
	 * @returns String
	 */
	function extractStringFromDateTime(dateTime) {
		return dateTime.toLocaleString("en-GB");
	}
</script>
</body>
</html>
